html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("../images/kinografBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer ul li {
    display: inline;
    margin: 0 10px;
}
footer a {
    color: white;
    text-decoration: none;
}

.btn {
    justify-content: center;
}

.page-content {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.recommended-section {
    background: #222;
    height: 300px;
    padding: 20px 40px;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.recommended-header {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}

.recommended-header h2 {
    color: white;
    margin: 0;
}

.movie-cards {
    position: absolute;
    right: 40px;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(180px, 18vw, 250px);
    aspect-ratio: 5 / 9;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
    border-radius: 10px;
    border: black;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.viewSchedule-body {
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    min-height: 100vh;

    background: linear-gradient(to right, #000000, #737373);
}

.movies-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    margin-top: 20px;
}

.movie-card {
    background: #222;
    padding: 10px;
    margin-top: 20px;
}

.movie-card h2 {
    margin: 0;
}

.addTimeAndHallBtn {
    width: 150px;
    color: white;
    background-color: #a2c78d;
    border-radius: 50px;
    border-color: transparent;
}

.createBtn {
    width: 150px;
    color: white;
    background-color: #0097b2;
    border-radius: 50px;
    border-color: transparent;
}
.cancelBtn {
    width: 150px;
    color: white;
    background-color: #b20000;
    border-radius: 50px;
    border-color: transparent;
}

.formLayout {

    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    width: 500px;
}